@using Microsoft.AspNetCore.Identity
@using TVOnline.Models
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

<ul class="navbar-nav ms-auto">
</ul>
<ul class="ms-auto d-flex">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="BecomeEmployer">
            <i class="bi bi-briefcase"></i> Trở thành nhà tuyển dụng
        </a>
    </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/images/account-bg.jpg" alt="User Avatar" class="rounded-circle" width="32" height="32">
                <span class="ms-2">@User.Identity.Name</span>
            </a>
            <ul class="dropdown-menu user-dropdown-menu" aria-labelledby="userDropdown">
                <li class="user-info">@User.Identity.Name</li>
                <li><a class="dropdown-item" asp-controller="EditUserProfile" asp-action="Index" title="Manage" ><i class="bi bi-person"></i> Chỉnh sửa tài khoản</a></li>
                <li><a class="dropdown-item" asp-controller="Account" asp-action="AppliedJob"><i class="bi bi-file-earmark-text"></i> CV của tôi</a></li>
                <li><a class="dropdown-item" asp-controller="Account" asp-action="GetSavedJobs"><i class="bi bi-bookmark"></i> Công việc đã lưu</a></li>
                <li><a class="dropdown-item" asp-controller="Account" asp-action="UpgradeAccount"><i class="bi bi-star"></i> Nâng cấp tài khoản</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" asp-controller="Account" asp-action="Logout"><i class="bi bi-box-arrow-right"></i> Đăng xuất</a></li>
            </ul>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-primary me-2" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary me-2" asp-controller="Account" asp-action="Register">Đăng kí</a>
        </li>
    }
</ul>
