@using TVOnline.ViewModels.Account;
@model RegisterViewModel;

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Đăng Kí</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" data-val="false" />
            </div>

            <div class="mb-3">
                <label asp-for="City" class="form-label"></label>
                <input asp-for="City" class="form-control" data-val="false" />
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control" id="password" type="password" />
                    <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('password', 'toggleIcon1')">
                        <i id="toggleIcon1" class="bi bi-eye-slash"></i>
                    </button>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="ConfirmPassword" class="form-control" id="confirmPassword" type="password" />
                    <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('confirmPassword', 'toggleIcon2')">
                        <i id="toggleIcon2" class="bi bi-eye-slash"></i>
                    </button>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <input style="background-color: #0866FF" type="submit" value="Đăng kí" class="btn btn-success w-100 p-2" />

            <p class="text-center mt-2">
                Đã có tài khoản ? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Đăng nhập</a>
            </p>

            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function togglePassword(inputId, iconId) {
            var passwordField = document.getElementById(inputId);
            var toggleIcon = document.getElementById(iconId);
            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.classList.remove("bi-eye-slash");
                toggleIcon.classList.add("bi-eye");
            } else {
                passwordField.type = "password";
                toggleIcon.classList.remove("bi-eye");
                toggleIcon.classList.add("bi-eye-slash");
            }
        }
    </script>
}
