@using TVOnline.ViewModels.Account;
@model EditProfileViewModel;

@{
	ViewData["Title"] = "View Profile";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


<h2 class="text-center mb-4">Thông tin của bạn</h2>
<form asp-action="EditProfile" method="post" enctype="multipart/form-data">
	<input type="hidden" id="Id" asp-for="Id" />
	<div class="mb-3">
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Age" class="form-label"></label>
		<input asp-for="Age" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="City" class="form-label"></label>
		<input asp-for="City" class="form-control" data-val="false" />
	</div>
	<div class="mb-3">
		<label asp-for="PhoneNumber" class="form-label"></label>
		<input asp-for="PhoneNumber" class="form-control" data-val="false" />
	</div>

	<div class="mb-3">
		<label asp-for="Email" class="form-label"></label>
		<input asp-for="Email" class="form-control" readonly />
	</div>
	<div class="mb-3">
		<label asp-for="JobIndustry" class="form-label"></label>
		<input asp-for="JobIndustry" class="form-control" data-val="false" />
	</div>
	<div class="mb-3">
		<label asp-for="CvFile" class="form-label"></label>
		<input asp-for="CvFile" type="file" class="form-control" placeholder="CvFile">

	</div>

	<input style="background-color: #0866FF" type="submit" value="Lưu thông tin" class="btn btn-success w-100 p-2" />

</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
