@{
    ViewData["Title"] = "Thanh toán với PAYOS";
}

<h2>Thanh toán với :PAYOS</h2>

<form action="/Payment/create-payment-link" method="post">
    <button type="submit" id="create-payment-link-btn">
        Tạo Link thanh toán
    </button>
</form>


