            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Admin", new { area = "Admin" })">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "AdminChat", new { area = "Admin" })">
                    <i class="fas fa-fw fa-comments"></i>
                    <span>Chat</span>
                </a>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider"> 